<li>
  <%= image_tag category.avatar.url(:thumb) %>
   <%= check_box_tag("categories[]", category.id, category_id_include_in_params_edit(category.id)) %>
   <%= category.name %>
   <span><%= text_field_tag "category_#{category.id}_custom_description", get_value_from_params_edit(category.id)
    %></span>
   <% unless category.children.empty? %>
	    <ul>
               
	        <%= render :partial => 'category_list', :collection => category.children, :as => :category  %>
	    </ul>
	 <%end%>
</li>
