  <h2><b><%=link_to "Publish", publish_to_friends_wish_list_path(:id => @wish_list.id, :category => @wishlist_items.last) ,:confirm => 'Allow your friends to view your wishlist?' unless @wishlist_items.blank? %> </b>

Edit your wishlist</h2>
<% form_for(@wish_list) do |f| %>
	<%= f.error_messages %>
  		<div class="form">
			<table>	
		           <tr>
  				<td><label>Wishlist Name</label></td><td><%= f.text_field :name %></p></td>
			   </tr>
			   <tr>
  				<td><label>Wishlist Description</label></td><td><%= f.text_field :description %></td>
			   </tr>
			</table>
  		</div>


       		<div class="sidebar">
          		<h2>Category list</h2>
          			<ul id='tree'>
              				<%= render :partial => 'category_list', :collection => @parent, :as => :category ,:locals => { :f => f} %>
          			</ul>
      	       </div>

    	<div class="clear"></div>
	<hr />
	<%= f.submit 'Save to wishlist' %> -or- <%= link_to 'Back', wish_lists_path %>
<% end %>

