<h2>Edit your wishlist</h2>
<% form_for(@wish_list) do |f| %>
	<%= f.error_messages %>
  		<div class="form">
  			<label>Wishlist Name</label><%= f.text_field :name %>
  		</div>

       		<div class="sidebar">
          		<h2>Category list</h2>
          			<ul id='tree'>
              				<%= render :partial => 'category_list', :collection => @parent, :as => :category ,:locals => { :f => f} %>
          			</ul>
      	       </div>

    	<div class="clear"></div>
	<hr />
	<%= f.submit 'Save to wishlist' %> -or- <%= link_to 'Back', wish_lists_path %>
<% end %>


