<% content_for :head do -%>
    <%= stylesheet_link_tag  'jquery.treeview'%>
  <%= javascript_include_tag  'jquery.treeview.min' %>
  <script type="text/javascript">
    jQuery(function() {
      jQuery("#tree").treeview({
         collapsed: false,
         animated: "medium",
         control:"#sidetreecontrol",
         persist: "location"
      });
   })
  </script>
<% end -%>


<h2 class="sub_heading"> Edit your wishlist</h2>
<% form_for(@wish_list) do |f| %>
	<%= f.error_messages %>
  		<div class="form">
			<table cellpadding="3px">
		    <tr>
  				<td><label>Wishlist Name</label></td><td><%= f.text_field :name %></td>
			   </tr>
			   <tr>
  				<td><label>Wishlist Description</label></td><td><%= f.text_field :description %></td>
			   </tr>
                  <tr>
  				<td><label>Due date:</label></td><td><%=@wish_list.date %></td>
			   </tr>
			</table>
  		
          		<h2>Category list</h2>
          			<ul id='tree'>
              				<%= render :partial => 'edit_category_list', :collection => @parent, :as => :category ,:locals => { :f => f} %>
          			</ul>
      	       <div class="clear"></div>
	<%= f.submit 'Save to wishlist',:class => "large awesome" %> -or- <%= f.submit 'Save and Publish' ,:class => "large awesome"%> -or- <%= link_to 'Back', wish_lists_path %>
<% end %>
</div>


    	
