<h2> Edit your wishlist</h2>
<% form_for(@wish_list) do |f| %>
	<%= f.error_messages %>
  		<div class="form">
			<table cellpadding="3px">
		    <tr>
  				<td><label>Wishlist Name: </label></td><td><%= f.text_field :name %></td>
			   </tr>
			   <tr>
  				<td><label>Wishlist Description: </label></td><td><%= f.text_field :description %></td>
			   </tr>
			</table>
  		</div>


       		<div class="sidebar">
          		<h2>Category list</h2>
          			<ul id='tree'>
              				<%= render :partial => 'category_list', :collection => @parent, :as => :category ,:locals => { :f => f} %>
          			</ul>
      	       </div>

    	<div class="clear"></div>
	<hr />
	<%= f.submit 'Save to wishlist',:class => "large awesome" %> -or- <%= f.submit 'Save and Publish' ,:class => "large awesome"%> -or- <%= link_to 'Back', wish_lists_path %>
<% end %>

