<% if @from_mail_user && check_user %>
   <div class="rt awesome"> <%= link_to "View My Wish List", wish_lists_path %> </div>
<%end%>
<% if @from_mail_user && (@facebook_user.facebook_id.to_s != @from_mail_user.facebook_id.to_s) %>
   <h2>
        <%=fb_name(@from_mail_user.facebook_id, :linked => false)%>'s  wishlist
  </h2>
     <%else%>
  <div class="rt awesome">
	<%= link_to 'Add your wishlist', new_wish_list_path %>
  </div>
  <h2>My wishlists</h2>
<%end%>
<div class="clear"></div>

<% if @from_mail_user && check_user %>
  <% unless @from_mail_user.wish_lists.blank? %>
   <% @from_mail_user.wish_lists.each do |wish_list| %>
       <div class="listing">
            <h3><%= link_to "#{wish_list.name}", wish_list %></h3>
            <p><%=h wish_list.description %></p>
            <div class="listing_btm">
		Created at:<%=Time.parse(wish_list.created_at.to_s).strftime('%m/%d/%Y') %>
	    </div>
      </div>
       <% end %>
      <br />
      <% form_tag(express_user_path(@facebook_user.id) )  do  -%>
        <%= hidden_field_tag "user_id",@from_mail_user.id %>
	  <p>Want to contribute for  <%=fb_name(@from_mail_user.facebook_id, :linked => false)%>'s  wishlist?</p>
        <table>
         <tr>
           <td valign="top">  <%= text_field_tag "points" , '',:class => 'textbox-small' %> $ </td>
           <td><%= image_submit_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif") %></td>
         </tr>
        </table>
      <% end -%>
     <%end%>
<%else%>
<script type="text/javascript">

    $(document).ready(function($) {
      $(".listing").hover(
       function(){
         $(this).children('.listing_btm').children('.links').fadeIn(500);
       },

       function () {
         $(this).children('.listing_btm').children('.links').fadeOut(100);
       });
     });
  </script>

   <% unless @facebook_user.wish_lists.blank? %>
      <% @facebook_user.wish_lists.each do |wish_list| %>
      	 <div class="listing">
        	<h3><%=link_to "#{wish_list.name}",edit_wish_list_path(wish_list)%></h3>
        	<p><%=h wish_list.description %></p>
        	<div class="listing_btm">
	        	<div class="links" style ='display:none'>
                           <table>
			      <tr>
			        <td><%= button_to 'Delete', wish_list_path(wish_list),:confirm => "Are you sure want delete wishlist ?", :method => :delete ,:class=>"links_btn" %></td>
	                        <td><%= button_to 'Edit', edit_wish_list_path(wish_list),:method => :get ,:class=>"links_btn" %></td>
                                <td><%= button_to 'Publish to Facebook', publish_wish_list_path(wish_list.id),:method => :get ,:class=>"links_btn"%></td>
                              </tr>
			    </table>
                        </div>
			<div class="date">
		        <p><b><%=Time.parse(wish_list.created_at.to_s).strftime('%m/%d/%Y') %> </b></p>
			</div>
              </div>
         </div>
      <%end%>
     <% end %>
<%end%>

