<% content_for :head do -%>
    <%= stylesheet_link_tag  'jquery.treeview'%>
  <%= javascript_include_tag  'jquery.treeview.min' %>
  <script type="text/javascript">
    jQuery(function() {
      jQuery("#tree").treeview({
         collapsed: false,
         animated: "medium",
         control:"#sidetreecontrol",
         persist: "location"
      });
   })
  </script>
<% end -%>
<h2 class="sub_heading"> New wish list </h2> 
<% form_for :wish_list, :url => wish_lists_path,:html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
<div class="form">
    <table cellpadding="3px">

    
        <tr>
  		<td> <label>Wishlist Name </label> </td><td><%= f.text_field :name %> <span> * </span> </td>
        </tr>
        <tr>
          <td> <label>Wishlist Description </label> </td><td><%= f.text_field :description %></td>
        </tr> 
         
          <tr>
          <td> <label>Date </label> </td><td><%= f.date_select :date %></td>
        </tr
              <tr>
  		<td> <label>Email</label> </td><td><%= text_field_tag 'email', @current_user.email ,:size => "30" %>   <span> * </span>This will be used to communicate regarding gifts.</td>
        </tr>
   

      <tr>
<td colspan="3">
<h2>Category list</h2>
      <ul id='tree'>
              				<%= render :partial => 'category_list', :collection => @parent, :as => :category ,:locals => { :f => f} %></ul></td></tr>
      <tr>
		
  		<td><%= f.submit 'Create' %> -or- <%= link_to 'Back', wish_lists_path %></td>
	</tr>
     </table>    			
 </div>
 
<% end %>


