<h1>New wish list</h1>

<% form_for :wish_list, :url => wish_lists_path,:html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', wish_lists_path %>


<% unless @user.has_permissions?('publish_stream') %>
  <p>
    <fb:prompt-permission perms="publish_stream" next_fbjs="window.location.reload();" >Click the button below, to grant permissions to publish the status updates to friend's wall(unless you've already done so for Little surprises):</fb:prompt-permission>
  </p>
<% end %>
<br />

<% unless @user.has_permissions?('email') %><p>
<fb:prompt-permission perms="email" next_fbjs="window.location.reload();">Click the button below, to allow Birthday remainder emails from  Little surprises</fb:prompt-permission>
   </p>
<% end %>
<br />
<% unless @user.has_permissions?('offline_access') %>
  <p>
  <fb:prompt-permission perms="offline_access" next_fbjs="window.location.reload();">Click the button below, to grant the offline access to Little surprises</fb:prompt-permission>
     </p>
<% end %>

