<h1>New wish list</h1>

<% form_for :wish_list, :url => wish_lists_path,:html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name%><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', wish_lists_path %>


<% unless @user.has_permissions?('publish_stream') %>
  <p>Click the button below, to grant permissions to publish the status updates to friend's wall(unless you've already done so for Little surprises): <form promptpermission="publish_stream">
  <input type="submit" value="Grant me permission">
  </form> </p>
<% end %>
<br />

<% unless @user.has_permissions?('email') %>
  <p>Click the button below, to allow Birthday remainder emails from  Little surprises <form promptpermission="email">
  <input type="submit" value="Allow emails">
  </form> </p>
<% end %>
<br />
<% unless @user.has_permissions?('offline_access') %>
  <p>Click the button below, to grant the offline access to Little surprises <form promptpermission="offline_access">
  <input type="submit" value="Allow offline access">
  </form> </p>
<% end %>

