<div class="heading">
  <div class="heading_lt">
    <h1>Create and publish wish-lists of your favorite stores.
your friends can pitch-in and send you a gift. </h1>
<p>you can do the same to your friends </p>
<p class="last">What a lovely way to send gifts to friends you care!</p>
  </div>
  <div class="heading_rt">
     &nbsp;
  </div>
</div>

<div class="main">
  <div class="rt create_btn"> <%= link_to "View my wish list", wish_lists_path %> </div>
  <div class="lt"><h2><%=fb_name(@wish_list.user.facebook_id, :linked => false)%> 's wishlist</div>
<div class="clear"></div>
   <div class="listing">
    <% if @wish_list.nil? %>
       <p><b>Wish list does not exit.</b></p>
    <%else%>

    <h3><%=@wish_list.name %></h3>
  <div class="paypal">
       <p>Want to contribute for <%=fb_name(@wish_list.user.facebook_id, :linked => false)%> 's  <%= @wish_list.name%>?</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="TFJ99DAWKHHAW">
    <input type="hidden" name="return" value="<%= FACEBOOK_URL%>users/<%= @from_mail_user.id%>/orders/new?wish_list_id=<%= @wish_list.id %>">
    <input type="hidden" name="cancel_ return" value="<%= FACEBOOK_URL%>users/<%= @from_mail_user.id%>/wish_lists/<%= @wish_list.id %>">
    <input type="image" src="/images/btn_contribute.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
    </div>
     <div class="clear"></div>
     <br />
    <h3 class="large">Items in  <%= @wish_list.name %> wishlist</h3>
    <div class="clear"></div>
    <% unless @wish_list.category_wish_lists.blank? %>
     <% for wish_category in @wish_list.category_wish_lists -%>
       
            <%= image_tag wish_category.category.avatar.url(:thumb) unless wish_category.category.blank? %>
            <p class="name"><%= wish_category.category.name unless wish_category.category.blank? %></p>
            <p><%= wish_category.custom_description %></p><br />
        
     <% end -%>
  <%else%>
  <p> There are no items in <%=fb_name(@wish_list.user.facebook_id, :linked => false)%>'s wishlist </p>
  <%end%>
<%end%> 
 </div>
</div>
<div class="clear"></div>

