 <div class="rt">
 <%= link_to "Back to <span>#{fb_name(@wish_list.user.facebook_id, :linked => false)}</span>'s wishlist", :back %>
</div>
<div class="lt">
 <% if @wish_list.nil? %>
    <p> <b> Wish list does not exist. </b> </p>
 <%else%>

   <%=fb_name(@wish_list.user.facebook_id, :linked => false)%> 's wishlist -   <%= @wish_list.name %>
</div>
<div class="clear"></div>
<hr />
    <p class="post"><%= @wish_list.description %> </p>
    <h3 class="item"> Items in  <%= @wish_list.name %> Wishlist </h3>
  <% unless @wish_list.category_wish_lists.blank? %>
     <table class="listing" width="100%">
      <tr>
          <th> Category  </th>
          <th> Comments </th>
      </tr>

     <% for wish_category in @wish_list.category_wish_lists -%>
       <tr class="<%= cycle('odd', 'even')%>">
         <td width="25%">
            <%= wish_category.category.name %>
          </td>
          <td width="52%">
            <%= wish_category.custom_description %>
          </td>
     <% end -%>
  </table>
  <%else%>
    <p> There are no items in <%=fb_name(@wish_list.user.facebook_id)%>'s wishlist </p>
  <%end%>

<%end%>
<div class="clear"></div>

