
 <h2> Points Details for <%= @user.name %> </h2>
 <br />

 <table class="admin_listing">
   <tr>
     <th> Paypal user name </th>
     <th> User name </th>
     <th> Express token  </th>
     <th> Payer id </th>
     <th> Date </th>
     <th> Amount </th>
   </tr>

<% @user.recived_gifts.each do |gift| -%>


   <tr class="<%= cycle('odd', 'even')%>">
     <td> <%= "#{gift.first_name} #{gift.last_name}" %>  </td>
     <td> <%= User.find(gift.payer_id).name %></td>
     <td> <%= gift.express_token %> </td>
     <td> <%= gift.express_payer_id %>  </td>
     <td> <%= Time.parse(gift.created_at.to_s).strftime('%d-%m-%y %H:%M').to_s%> </td>
     <td> <%= "$ #{gift.amount}" %> </td>

   </tr>
<% end -%>
</table>

<br />
 <h2>  Gift Deliverd to <%= @user.name %> </h2>
 <br />
 <table class="admin_listing">
   <tr>
     <th> Wishlist </th>
     <th> Category </th>
     <th> Comment </th>
     <th> points </th>

   </tr>
<% @user.gifts.each do |gift| -%>
   <tr class="<%= cycle('odd', 'even')%>">
     <td> <%= WishList.find(gift.wish_list_id).name %></td>
     <td> <%= Category.find(gift.category_id).name %> </td>
     <td> <%= gift.comments %></td>
     <td>  <%= "$ #{gift.points}" %></td>
   </tr>
<%end%>
</table>

<%= link_to "Back", admin_users_path %>

