<div class="users_show">  

  <h3><%=@user.name%></h3>
  <p>Sign up date: <b><%= Time.parse(@user.created_at.to_s).strftime('%d-%m-%Y').to_s%></b></p>
 </div>
<hr />
<h2> Payment Details for <%= @user.name %> </h2>
 <table class="admin_listing">
   <tr>
     <th> Paypal user name </th>
     <th> Facebook user name </th>
     <th> Transaction id </th>
     <th> Payer id </th>
     <th> Date </th>
      <th>Wish list</th> 
     <th class='last'> Ammount </th>
   </tr>

<% @user.recived_gifts.each do |gift| -%>


   <tr class="<%= cycle('odd', 'even')%>">
     <td> <%= "#{gift.name}" %>  </td>
     <td> <%= User.find(gift.payer_id).name unless gift.payer_id.nil?%></td>
     <td> <%= gift.transaction_id %> </td>
     <td> <%= gift.paypal_payer_id %>  </td>
     <td> <%= Time.parse(gift.created_at.to_s).strftime('%m-%d-%Y').to_s%> </td>
     <td> <%= WishList.find(gift.wish_list_id).name %></td>
     <td class='last'> <%= "$ #{gift.amount}" %> </td>

   </tr>
<% end -%>
</table>

<br />
 <h2>  Gift Deliverd to <%= @user.name %> </h2>
 <br />
 <table class="admin_listing">
   <tr>
     <th> Wish list </th>
     <th> Date </th>
     <th> Value of the gift </th>
     <th class='last'>Show</th>
       
   </tr>
<% @user.gifts.each do |gift| -%>
   <tr class="<%= cycle('odd', 'even')%>">
     <td> <%= WishList.find(gift.wish_list_id).name %></td>
     <td> <%= WishList.find(gift.wish_list_id).date.strftime('%m-%d-%Y').to_s %> </td>
     <td>  <%= "$ #{gift.points}" %></td>
      <td class ='last'>  <%=link_to "gift details",admin_user_gift_path(@user, gift) %></td>
   </tr>
<%end%>
</table>

<%= link_to "Back", admin_users_path %>

