<h2> Gift delivered to <%= @user.name %> </h2>
<table class="formstyle" border="1" cellpadding="15px">
  <tr>
    <th>Wish list name</th>
    <td><%=h WishList.find(@gift.wish_list_id).name %></td>
  </tr>
   <tr>
   <th>Date</th>
   <td><%=h WishList.find(@gift.wish_list_id).date.strftime('%d-%m-%Y').to_s %></td>
  </tr>
  <tr>
   <th>Value of the gift</th>
   <td><%= "$ #{@gift.points}" %></td>
  </tr>
  <tr>
   <th>Total points</th>
   <td><%=h WishList.find(@gift.wish_list_id).points %></td>
  </tr>
  <tr>
   <th>Comments:</th>
   <td><%=h @gift.comments %></td>
 </tr>
</table>
<h2>Contributions</h2>
<table class="formstyle" border="1" cellpadding="15px">  
  <% @orders.each do |order| %>
  <tr>
    <th><%=h User.find(order.payer_id).name unless order.payer_id.nil?%></th>
    <td>$<%=h order.amount%></td>
  </tr>
<%end%>
</table>
<%= link_to "Back" ,:back%>


