<div id="wrapper">

 <% if @confirmed %>
  <br />  <p> A successful transaction has already been completed for this token. </p>
 <%else%>
 <br />
    <p> Please click the below button, to complete the payment process. </p>
 <%end%>


<% form_for([@reciver_user,@order]) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :express_token %>
    <p> Your Paypal Details </p><br />
    <p> Name: <%=h @order.first_name %> <%=h @order.last_name %> </p> <br />
    <p> Address </p>
    <p> street : <%=h @details.params["street1"] %>  <%=h @details.params["street2"] %> </p>
    <p> city :  <%=h @details.params["city_name"] %></p>
    <p> state_or_province :  <%=h @details.params["state_or_province"] %> </p>
    <p> Country :  <%=h @details.params["country_name"] %></p>
    <p> postal_code:  <%=h @details.params["postal_code"] %> </p>
<br />
<p> Payment : $<%=h @details.params["order_total"].to_i %> </p>
<br />

  <p>
    <% unless @confirmed %>
    <%= f.submit "Confirm payment" %> or
    <%end%> <%= link_to 'Cancel', "/users/#{@reciver_user.id}/wish_lists",:class => "awesome"  %>
  </p>
<% end %>
</div>

