    <h2 class="sub_heading"> Your Paypal Details </h2>
<% form_for([@reciver_user,@order]) do |f| %>
  <%= f.error_messages %>
  		<div class="form">
   <% if @order.status == 'success' %>
    <h2 class='paypal_confirm'> Thank you. Your paypal transaction id is <%= params['tx'] %>. Please confirm, your personal details provided below . </h2>
    <%else%>
      <h2 class='paypal_confirm'> Your transaction id is <%= params['tx'] %>. There was an error, while getting the transaction status. </h2>
    <%end%>

    <h3><%=h @order.name %> </h3> 
    <h3><%=h @order.street %> </h3>
    <h3><%=h @order.city %></h3>
    <h3><%=h @order.state %> </h3>
    <h3><%=h @order.country %></h3>
    <h3><%=h @order.postal_code %> </h3>
<br />
<h3> Payment : <b>$<%=h @order.amount.to_f + @order.processing_fee.to_f + @order.little_surprizes_fee.to_f %> </b></h3>
<p> you have contributed <b>$<%= @order.amount.to_f%> </b> towards <%= @wish_list.name %> of <%= @wish_list.user.name %>
<p class='small'> <!--* A small fee will be added towards handling charges-->
    (* A small fee has been deducted towards handling charges.)  </p> <br />
 <%= hidden_field_tag 'wish_list_id', @order.wish_list_id %>
    
  
  <div class="clear"></div>
 
  
  
    <% if @order.status == 'success' %>
     <div class="borders">
        <h3> Please click the below button to complete the payment process. </h3>
     </div> <br />
    
    
    <%= f.submit "Confirm payment",:class => "large awesome" %> or
    <%end%> <%= link_to 'Cancel', "/users/#{@reciver_user.id}/wish_lists/#{@order.wish_list_id}",:class => "large awesome"  %>
 
  </div>
<% end %>


