<div id="wish_list_replace">
  
    <h2> <%= @wish_list.name %> </h2>
    <hr />
    <p> <%= @wish_list.description%> </p>

     <table class="admin_listing">
      <tr>
	      <th> Category name </th>
	      <th> Comment </th>
                <th class="last"> Value of the gift </th>
	     
      </tr>
      <% @wish_list.category_wish_lists.each do |wish_catogery|%>
        <tr class="<%= cycle('odd', 'even')%>">
        	<td> <%= radio_button_tag("gift[category_id]",wish_catogery.category.id) %> <%= wish_catogery.category.name %></td>
        	<td> <%= wish_catogery.custom_description %></td>
        	<td class="last"> $ <%= text_field_tag "#{wish_catogery.category.id}][points]"%> </td>
            
           </tr>
      <% end %>
    </table>
  
</div>

