<li>
    
    <%if @wishlist_items.include?(category.id)%>
       <td><%= check_box_tag("categories[]", category.id, true,:id=>category.id)%></td>
    <%else%>
      <td><%= check_box_tag("categories[]", category.id, false,:id=>category.id)%></td>
    <%end%>
    <%=category.name%>
    <%= text_field_tag "description",value = "#{find_custom_description(@wish_list,category.id)}"%>
	
	<% unless category.children.empty? %>
	<ul><%= render :partial => 'category_list', :collection => category.children, :as => :category %></ul>
	<% end %>
</li>


