<h2>New gift for <%= @wish_list.name%> wish list</h2>

<% form_for(:gift , :url => admin_user_gifts_path(@user.id) ,:html => { :method => :post }) do |f| %>
<%= f.error_messages %>

<table class="formstyle" cellpadding="15px;" border="1">
  <tr>  
    <th>Total points Available</th>
    <td><b><%= "$ #{@wish_list.points}" %></b></td> 
   </tr>
   <%= f.hidden_field :user_id ,:value => @user.id %>
   <%= f.hidden_field :wish_list_id ,:value => @wish_list.id %>
</table>
<table class="formstyle" cellpadding="15px;" border="1">
  <tr>
    <td colspan="2">
      	<div id="wish_list_replace"><%= render :partial => 'admin/wish_lists/wish_list' %></div>
    </td>
  </tr>
  <tr>
    <th>Comments<br /><%= f.text_area :comments ,:rows =>3 %></th> 
  </tr>
</table>

<div class="formstyle form">
  <h2>Recepient message</h2>
   <p>Donors</p>
    <table class="formstyle" border="1" cellpadding="15px">  
 <%unless @orders.nil?%>  
<% @orders.each do |order| %>
  <tr>
    <th><%=h User.find(order.payer_id).name unless order.payer_id.nil?%></th>
    <td>$<%=h order.amount%></td>
  </tr>
<%end%>
<%end%>
</table>             
  <p>Recepient subject </p>
  <%= f.text_field :recepient_subject%>  
		      
  <p>Recepient Message</p>
  <%= f.text_area :recepient_message ,:value => "Hi #{@user.name},
We at Little Surprizes would like to wish you on this very special occasion.We hope it will be most joyous and filled with pleasant surprises like this one!!!!!!!!!!!!!!! 
<Donors> have contributed for afantastic gift from your wishlist. 
Here is that Gift for you:
< Gift Card Image> with Amount/ID etc.
We hope this was a pleasant surprise for you.
Thanking you for choosing Little Surprizes!",:id => "html" %>  
</div>

<div class="formstyle form">
   <h2>Donor message</h2>
   <p>Donor subject<br /><%= f.text_field :donors_subject%> </p>     
                
   <p>Donor Message<br /><%= f.text_area :donors_message ,:value => "Hello,
Thanks to your contribution, Little Surprizes has sent a Gift Card for <Amount> to #{@user.name} on your behalf. 
Thank you for choosing Little Surprizes!",
:id => "html1",:rows =>35 %></p>    
</div>

<div id="btn">
   <%= f.submit 'Send Gift' %> - or - <%= link_to 'Back', admin_wish_lists_path %>
</div>
<% end %>

	<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %>

 <%= observe_field(:gift_wish_list_id, :frequency => 0.3,
                    :before => "jQuery('#spinner1').show()",
                    :success => "jQuery('#spinner1').hide();" ,
                    :url => admin_wish_lists_path,
                    :method => :get,
                    :with => "'wish_list_id=' + value"
                  )%>
                  
<div class="clear"> </div>                  

