<h2>New gift</h2>

<% form_for(:gift , :url => admin_user_gifts_path(@user.id) ,:html => { :method => :post }) do |f| %>
  <%= f.error_messages %>
  <table class="formstyle" cellpadding="15px;" border="1">
    <tr>  <th> Total points Available : </th><td><b> <%= "$ #{@user.points}" %></b></td> </tr>
    <%= f.hidden_field :user_id ,:value => @user.id %>
    <tr> <th> select wishlist to which you want to contribute :</th> <td> <%= f.select :wish_list_id ,@user.wish_lists.collect { |p| [p.name,p.id] },{:prompt => 'Select wishlist'}%> </td></tr>
    <tr><th>  Comments  : </th> <td> <%= f.text_field :comments %> </td> </tr>




    <div id="wish_list_replace">


    <div>

</table>

 <div id="btn">
   <%= f.submit 'Create' %> or <%= link_to 'Back', admin_users_path %>
 </div>

<% end %>



<div class="clear"> </div>
<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %>

 <%= observe_field(:gift_wish_list_id, :frequency => 0.3,
                    :before => "jQuery('#spinner1').show()",
                    :success => "jQuery('#spinner1').hide();" ,
                    :url => admin_wish_lists_path,
                    :method => :get,
                    :with => "'wish_list_id=' + value"
                  )%>

