<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= stylesheet_link_tag  'admin', 'jquery.treeview','html_editor_style1','html_editor_style2' %>
  <%= javascript_include_tag :defaults, 'jquery.treeview.min', 'jquery.corner','jquery.markitup.js','set.js' %>
  <script type="text/javascript">
    jQuery(function() {
      jQuery("#tree").treeview({
         collapsed: false,
         animated: "medium",
         control:"#sidetreecontrol",
         persist: "location"
      });
   })
  </script>

   <script type="text/javascript">
jQuery(document).ready(function()	{
   jQuery('#html').markItUp(myHtmlSettings);
});
</script>

 <script type="text/javascript">
jQuery(document).ready(function()	{
   jQuery('#html1').markItUp(myHtmlSettings);
});
</script>
</head>

<body>
   <div class="header">
        <div class="header_left">  <h1>Little Surprizes</h1></div>
 <div class="header_right"> <%= render :partial => 'shared/right' %> </div>
   </div>

    <% if flash[:notice] %>
       <div class="notice">
         <p> <%= flash[:notice] %> </p>
       </div>
    <% flash[:notice] = nil  %>
    <% end %>
  <div class="main">
      
	  <div class="clear"> </div>
       <%= yield  %>

   </div>


<div class="clear"></div>


</body>
</html>

